@model FBI.Webpage.Models.IndexViewModel
@{
    ViewBag.Title = "Admin Panel";
}

<h2>@ViewBag.Title.</h2>

<div class="main-content">
    <h1 class="page-title">Admin Panel</h1>
    <div class="limited-width-container">
        <img id="nuke-button" src="https://i.ya-webdesign.com/images/nuke-logo-png-11.png" onclick="location.href='@Url.Action("Nuke", "Manage")'" />
        <input type="button" value="Update Database" onclick="location.href='@Url.Action("UpdateDB", "Manage")'" />
        <h1>Add new profiles</h1>
        <div class="form-horizontal">
            <div class="form-row">
                <label for="Name">Name:</label>
                <input type="text" id="title" value="" />
            </div>
            <div class="form-row">
                <label for="Nationality">Nationality:</label>
                <input type="text" id="nationality" value="" />
            </div>
            <div class="form-row">
                <label for="Name">Prosecution:</label>
                <input type="text" id="description" value="" />
            </div>
            <div class="form-row">
                <label for="Caution">Caution Warning:</label>
                <select name="license">
                    <option id="caution">Neutral threat</option>
                    <option id="caution">Armed and possibly dangerous</option>
                    <option id="caution">Armed and dangerous</option>
                    <option id="caution">Heavily armed and extremely dangerous</option>
                </select>
            </div>
            <div class="form-row">
                <label for="Photo">Photo:</label>
                <input type="file" id="original" value="" />
            </div>
            <input type="submit" id="submit-button" value="Go!" class="btn btn-default" />
        </div>
    </div>
</div>
