@model FBI.DataAccess.MostWantedProfilesModel.Root2

@{
    ViewBag.Title = "Most Wanted";
}

<div class="jumbotron">

    <h1>FBI Most Wanted</h1>

</div>


<div class="main-content">

    @foreach (var fugitive in Model.items)
    {
        <div class="col-md-4">
            <div>
                <div class="image-container">
                    <a> <img id="main-photo" src="@fugitive.images[0]" height="300" /></a>
                    <p class="user-link">@Html.ActionLink("ViewProfile", "Edit", "Home", fugitive)</p>
                </div>
                <div>
                    <p><h4>@fugitive.title</h4></p>
                    <p>
                        <h5>
                            @if (fugitive.caution != "null")
                            {

                                @fugitive.caution
                            }
                           
                            
                        </h5>
                    </p>
                </div>
            </div>
        </div>
    }
    @*<div>
        @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@
    <div class="col-md-4">

    </div>

</div>


