@model FBI.Webpage.Models.Item

@{
    ViewBag.Title = "Most Wanted";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<div class="main-content">
    <div class="col-md-4">
        <h2>Most Wanted</h2>
        @foreach (var name in Model.uid)
        {
            <div class="image-container">
                <img id="main-photo" src="@Model.images[name].original" />
            </div>
            <ul>
                <li>Title: @Model.title[name]</li>
                <li>Sex: @Model.sex[name]</li>
            </ul>
        }
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">

    </div>
</div>